# Mac OS X
.DS_Store

type.trainer.Tests/*.plist
!type.trainer.Tests/Info.plist

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata