<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>илья старается скорее
уравновесить зло добром
увидел парни бьют мальчишку
красиво рядом станцевал</string>
		<key>author</key>
		<string>karim-abdul</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>илья старается скорее
уравновесить зло добром
увидел парни бьют мальчишку
красиво рядом станцевал</string>
		<key>author</key>
		<string>karim-abdul</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>висит на сцене в первом акте
бензопила ведро и еж
заинтригован станиславский
боится выйти в туалет</string>
		<key>author</key>
		<string>nik-aragua</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>улыбка все преображает
вот николай хоть и в гробу
а улыбается и ясно
что все у парня хорошо</string>
		<key>author</key>
		<string>zh</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>я иностранец из нью йорка
и вот что я хочу спросить
вот эта надпись на заборе
как переводится она</string>
		<key>author</key>
		<string>al cogol</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>страшней всего когда не знаешь
что для тебя страшней всего
садишься на диван и мысли
а вдруг страшней всего диван</string>
		<key>author</key>
		<string>better days</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>две параллельные прямые
живут в эвклидовом мирке
и бегают пересекаться
в мир лобачевского тайком</string>
		<key>author</key>
		<string>ironichna-osoba</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>бог создал труд и обезьяну
чтоб получился человек
а вот пингвина он не трогал
тот сразу вышел хорошо</string>
		<key>author</key>
		<string>the axy</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>ребята лезут оживленно
в большую круглую трубу
а николай стоит квадратный
и слезы льюцца по щекам</string>
		<key>author</key>
		<string>bucho</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>а это воздух настоящий
учитель баночку достал
и от восторга запотели
противогазы у ребят</string>
		<key>author</key>
		<string>оксана</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>а где тут руль спросил гагарин
деревня буркнул королев
еще спроси а где тут вожжи
еще поехали скажи</string>
		<key>author</key>
		<string>garwuf</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>как можно жить совсем без хлеба
и с непомытою плитой
спросил андрей и сразу умер
по крайней мере для меня</string>
		<key>author</key>
		<string>vera</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>вот мастер нарисует дыню
и ты узнаешь в ней себя
а на твоем рисунке даже
и дыню толком не узнать</string>
		<key>author</key>
		<string>оман</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>олег бежит за ним собаки
но он бежит не от собак
его судьба лихая гонит
собаки только антураж</string>
		<key>author</key>
		<string>Кошкин</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>я моль я тише вашей смерти
я шарфов ужас шубы боль
царица шкафа бог комода
я моль</string>
		<key>author</key>
		<string>соловей</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>я свой характер закаляю
преодолением преград
упорно циркулем рисуя
квадрат</string>
		<key>author</key>
		<string>Тихомиров</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>дыхнул в ладонь украдкой брежнев
разгладил брови вздернул нос
ну все подумал чаушеску
взасос</string>
		<key>author</key>
		<string>Bruce</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>какое море дорогая
мы в отпуск едем по грибы
и наслаждаемся закатом
губы</string>
		<key>author</key>
		<string>Вороныч</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>пусть карл и клара постарели
но пронеся сквозь годы страсть
все смотрят что бы друг у друга
украсть</string>
		<key>author</key>
		<string>колик</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>в чертогах разума блуждая
нашел сто битых секторов
а в психдиспансере сказали
здоров</string>
		<key>author</key>
		<string>MastaLomasta</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>в моих ежатнях скаковые
ежи топочут и фырчат
хотят галопом по просторам
промчать</string>
		<key>author</key>
		<string>Дей</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>дана тебе ума палата
увы стоит она пустой
да у нее еще и номер
шестой</string>
		<key>author</key>
		<string>Алессандро</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>бобры загрызли буратино
он весь в березовом соку
лежит в траве раскинув руки
и дятлы кружатся над ним</string>
		<key>author</key>
		<string>бес</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>text</key>
		<string>мужчине в жизни надо сделать
три вещи мумию грача
перило с надписью перило
и брюса ли из желудей</string>
		<key>author</key>
		<string>Нестер Пим</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
</array>
</plist>
