<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categoryClassic</key>
	<array>
		<dict>
			<key>text</key>
			<string>Я к вам пишу – чего же боле?
Что я могу еще сказать?
Теперь, я знаю, в вашей воле
Меня презреньем наказать.</string>
			<key>author</key>
			<string>А. С. Пушкин</string>
			<key>title</key>
			<string>Евгений Онегин</string>
		</dict>
		<dict>
			<key>text</key>
			<string>У лукоморья дуб зеленый;
Златая цепь на дубе том:
И днем и ночью кот ученый
Всё ходит по цепи кругом;</string>
			<key>author</key>
			<string>А. С. Пушкин</string>
			<key>title</key>
			<string>Руслан и Людмила</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Во глубине сибирских руд
Храните гордое терпенье,
Не пропадет ваш скорбный труд
И дум высокое стремленье.</string>
			<key>author</key>
			<string>А. С. Пушкин</string>
			<key>title</key>
			<string>Во глубине сибирских руд…</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Я помню чудное мгновенье:
Передо мной явилась ты,
Как мимолетное виденье,
Как гений чистой красоты.</string>
			<key>author</key>
			<string>А. С. Пушкин</string>
			<key>title</key>
			<string>К *** Керн</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Белеет парус одинокой
В тумане моря голубом!..
Что ищет он в стране далекой?
Что кинул он в краю родном?..</string>
			<key>author</key>
			<string>М.Ю. Лермонтов</string>
			<key>title</key>
			<string>Парус</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Ночевала тучка золотая
На груди утеса великана;
Утром в путь она умчалась рано,
По лазури весело играя.</string>
			<key>author</key>
			<string>М.Ю. Лермонтов</string>
			<key>title</key>
			<string>Утёс</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Я пришел к тебе с приветом,
Рассказать, что солнце встало,
Что оно горячим светом
По листам затрепетало;</string>
			<key>author</key>
			<string>А. Фет</string>
			<key>title</key>
			<string>Я пришел к тебе с приветом</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Люблю грозу в начале мая,
Когда весенний, первый гром,
как бы резвяся и играя,
Грохочет в небе голубом.</string>
			<key>author</key>
			<string>Ф. Тютчев</string>
			<key>title</key>
			<string>Весенняя гроза</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Умом Россию не понять,
Аршином общим не измерить:
У ней особенная стать —
В Россию можно только верить.</string>
			<key>author</key>
			<string>Ф. Тютчев</string>
			<key>title</key>
			<string>Умом Россию не понять</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Зима недаром злится,
Прошла её пора —
Весна в окно стучится
И гонит со двора.</string>
			<key>author</key>
			<string>Ф. Тютчев</string>
			<key>title</key>
			<string>Зима недаром злится</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Зима недаром злится,
Прошла её пора —
Весна в окно стучится
И гонит со двора.</string>
			<key>author</key>
			<string>Ф. Тютчев</string>
			<key>title</key>
			<string>Зима недаром злится</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Товарищ, верь: взойдет она,
Звезда пленительного счастья,
Россия вспрянет ото сна,
И на обломках самовластья
Напишут наши имена!</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>К Чаадаеву</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Пока свободою горим,
Пока сердца для чести живы,
Мой друг, отчизне посвятим
Души прекрасные порывы!</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>К Чаадаеву</string>
		</dict>
		<dict>
			<key>text</key>
			<string>В тот год осенняя погода
Стояла долго на дворе,
Зимы ждала, ждала природа.
Снег выпал только в январе.</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>Евгений Онегин</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Встает заря во мгле холодной;
На нивах шум работ умолк;
С своей волчихою голодной
Выходит на дорогу волк;</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>Евгений Онегин</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Опрятней модного паркета,
Блистает речка, льдом одета.
Мальчишек радостный народ
Коньками звучно режет лёд;</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>Евгений Онегин</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Зима! Крестьянин, торжествуя
На дровнях обновляет путь;
Его лошадка, снег почуя,
Плетется рысью как-нибудь;</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>Евгений Онегин</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Гонимы вешними лучами,
С окрестных гор уже снега
Сбежали мутными ручьями
На потопленные луга.</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>Евгений Онегин</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Выпьем, добрая подружка
Бедной юности моей,
Выпьем с горя; где же кружка?
Сердцу будет веселей.</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>Зимний вечер</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Спой мне песню, как синица
Тихо за морем жила;
Спой мне песню, как девица
За водой поутру шла.</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>Зимний вечер</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Буря мглою небо кроет,
Вихри снежные крутя;
То, как зверь, она завоет,
То заплачет, как дитя.</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>Зимний вечер</string>
		</dict>
		<dict>
			<key>text</key>
			<string>О сколько нам открытий чудных
Готовят просвещенья дух
И опыт, сын ошибок трудных,
И гений, парадоксов друг,
И случай, бог изобретатель.</string>
			<key>author</key>
			<string>А.С. Пушкин</string>
			<key>title</key>
			<string>О сколько нам открытий чудных</string>
		</dict>
	</array>
	<key>categoryCookies</key>
	<array>
		<dict>
			<key>text</key>
			<string>илья старается скорее
уравновесить зло добром
увидел парни бьют мальчишку
красиво рядом станцевал</string>
			<key>author</key>
			<string>karim-abdul</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>висит на сцене в первом акте
бензопила ведро и ёж
заинтригован станиславский
боится выйти в туалет</string>
			<key>author</key>
			<string>nik-aragua</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>улыбка все преображает
вот николай хоть и в гробу
а улыбается и ясно
что все у парня хорошо</string>
			<key>author</key>
			<string>zh</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>я иностранец из нью йорка
и вот что я хочу спросить
вот эта надпись на заборе
как переводится она</string>
			<key>author</key>
			<string>al cogol</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>страшней всего когда не знаешь
что для тебя страшней всего
садишься на диван и мысли
а вдруг страшней всего диван</string>
			<key>author</key>
			<string>better days</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>две параллельные прямые
живут в эвклидовом мирке
и бегают пересекаться
в мир лобачевского тайком</string>
			<key>author</key>
			<string>ironichna-osoba</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>бог создал труд и обезьяну
чтоб получился человек
а вот пингвина он не трогал
тот сразу вышел хорошо</string>
			<key>author</key>
			<string>the axy</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>ребята лезут оживлённо
в большую круглую трубу
а николай стоит квадратный
и слезы льются по щекам</string>
			<key>author</key>
			<string>bucho</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>а это воздух настоящий
учитель баночку достал
и от восторга запотели
противогазы у ребят</string>
			<key>author</key>
			<string>оксана</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>а где тут руль спросил гагарин
деревня буркнул королёв
еще спроси а где тут вожжи
еще поехали скажи</string>
			<key>author</key>
			<string>garwuf</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>как можно жить совсем без хлеба
и с непомытою плитой
спросил андрей и сразу умер
по крайней мере для меня</string>
			<key>author</key>
			<string>vera</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>вот мастер нарисует дыню
и ты узнаешь в ней себя
а на твоем рисунке даже
и дыню толком не узнать</string>
			<key>author</key>
			<string>оман</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>олег бежит за ним собаки
но он бежит не от собак
его судьба лихая гонит
собаки только антураж</string>
			<key>author</key>
			<string>Кошкин</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>я моль я тише вашей смерти
я шарфов ужас шубы боль
царица шкафа бог комода
я моль</string>
			<key>author</key>
			<string>соловей</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>я свой характер закаляю
преодолением преград
упорно циркулем рисуя
квадрат</string>
			<key>author</key>
			<string>Тихомиров</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>какое море дорогая
мы в отпуск едем по грибы
и наслаждаемся закатом
губы</string>
			<key>author</key>
			<string>Вороныч</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>пусть карл и клара постарели
но пронеся сквозь годы страсть
все смотрят что бы друг у друга
украсть</string>
			<key>author</key>
			<string>колик</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>в чертогах разума блуждая
нашел сто битых секторов
а в психдиспансере сказали
здоров</string>
			<key>author</key>
			<string>MastaLomasta</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>в моих ежатнях скаковые
ежи топочут и фырчат
хотят галопом по просторам
промчать</string>
			<key>author</key>
			<string>Дей</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>бобры загрызли буратино
он весь в берёзовом соку
лежит в траве раскинув руки
и дятлы кружатся над ним</string>
			<key>author</key>
			<string>бес</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>мужчине в жизни надо сделать
три вещи мумию грача
перило с надписью перило
и брюса ли из желудей</string>
			<key>author</key>
			<string>Нестер Пим</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>поэт не может быть счастливым
тогда он сразу не поэт
и он от этого несчастен
и снова он поэт тогда</string>
			<key>author</key>
			<string>i-mel</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>надел олег один ботинок
глядит еще один стоит
когда же это прекратится
да где же этому конец</string>
			<key>author</key>
			<string>kvatanastini</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>мы думаем что птица в клетке
а птица думает что мы
неоднозначно восприятие
тюрьмы</string>
			<key>author</key>
			<string>Дарья</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>бессмертный рыцарь улыбнулся
разбил грааль и был таков
у всех бывает кризис средних
веков</string>
			<key>author</key>
			<string>Gena_</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>бог мой о времена о нравы
что мы здесь делаем вообще
вели беседу две креветки
в борще</string>
			<key>author</key>
			<string>Умная Маша</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>предвидя твой вопрос отвечу
я бедный от того что злой
трусливый слабый невезучий
но умный тут уж извини</string>
			<key>author</key>
			<string>zh</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>без ложной скромности замечу
я гениальный человек
а то что ничего не создал
так я был занят и болел</string>
			<key>author</key>
			<string>better days</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>мужик идёт с конем по полю
и конь внезапно говорит
не надо петь про это песню
пусть это будет наш секрет</string>
			<key>author</key>
			<string>djFedos</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>в ночи повеяло прохладой
как будто в дом прокралось зло
а это просто одеяло
сползло</string>
			<key>author</key>
			<string>Мел</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>нет в шоколаде шоколада
давно нет мяса в колбасе
становится чуть чуть тревожно
а вдруг и в людях нет людей</string>
			<key>author</key>
			<string>Ника Вернер</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>когда я вышел из детсада
то был уже совсем другим
изнанка жизни отхлестала
меня по пухленьким щекам</string>
			<key>author</key>
			<string>artyrar</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>мне стало больно и противно
о чём я сразу заявил
но мне сказали это пытка
и надо просто потерпеть</string>
			<key>author</key>
			<string>sometimer</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>иван открыл закон ивана
он как закон ньютона но
все измеряется в иванах
и вместо яблока утюг</string>
			<key>author</key>
			<string>Л.М.</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>и на зубах у дартяньяна
весь день отчаянно и зло
скрипит потёртое барашка
седло</string>
			<key>author</key>
			<string>Алексай</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>вчера был казус сам с собою
я как обычно говорил
и вдруг с собой не согласился
вспылил и даже накричал</string>
			<key>author</key>
			<string>i-mel</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>мы так сильны что становиться
сильнее некуда уже
и всё что нас не убивает
не убивает нас и всё</string>
			<key>author</key>
			<string>Нестер Пим</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>олег уволился с работы
душа полна различных чувств
как будто прямо с шеи камень
упал на палец на ноге</string>
			<key>author</key>
			<string>мЫколус</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>я пролетаю пару метров
едва не выронив бинокль
и гложет мысль полёт ли это
пинок ль</string>
			<key>author</key>
			<string>Тумми</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>мы будем жить таким манером
что смерть нам станет не нужна
поскольку мы её от жизни
никак не сможем отличить</string>
			<key>author</key>
			<string>DjFedos</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>спросил кукушку сколько жить мне
она вдруг смолкла и глядит
на что то за моей спиною
с животным ужасом в глазах</string>
			<key>author</key>
			<string>urri</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>да были виды в наше время
ты помнишь как в палеолит
креветы сдерживали натиск
улит</string>
			<key>author</key>
			<string>колик</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>злой и уставший стоматолог
без слов и лишней суеты
сжигал нещадно за собою
мосты</string>
			<key>author</key>
			<string>SSebastian</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>в народе есть одна примета
когда в сберкассе шум и гам
а вы с ружьём и в чёрной маске
к деньгам</string>
			<key>author</key>
			<string>Darth Rkoff</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>рот человеков в виде щели
причём достаточной длинны
чтоб есть могли горизонтально
блины</string>
			<key>author</key>
			<string>Znake</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>левшу в деревне не любили
зайдёт на чай и был таков
а по избе всю ночь удары
подков</string>
			<key>author</key>
			<string>crazy_grant &amp; zrbvjd</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
		<dict>
			<key>text</key>
			<string>я мыслю значит существую
вдруг понял глеб и в тот же миг
себе поклялся бросить мыслить
и жить а не существовать</string>
			<key>author</key>
			<string>luci</string>
			<key>title</key>
			<string>Пирожки</string>
		</dict>
	</array>
	<key>categoryHokku</key>
	<array>
		<dict>
			<key>text</key>
			<string>Сакуры белая ветвь
Тихо на землю легла.
Доволен я новой пилой.</string>
			<key>author</key>
			<string>Star Per</string>
			<key>title</key>
			<string>Хокку</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Заснул на рельсах я.
Что нынче уготовит
Судьба злодейка?</string>
			<key>author</key>
			<string>Филушка</string>
			<key>title</key>
			<string>Хокку</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Бережно грабли кладу
Перед дверью соседа.
Ошибкам учиться хочу.</string>
			<key>author</key>
			<string>dubovik_sergey</string>
			<key>title</key>
			<string>Хокку</string>
		</dict>
	</array>
	<key>categoryQuotes</key>
	<array>
		<dict>
			<key>text</key>
			<string>Чудеса там, где в них верят, и чем больше верят, тем чаще они случаются.</string>
			<key>author</key>
			<string>Дени Дидро</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Протяните руку над бездною.
Нет страха над бездною, ибо духу страшнее комната и ковер.</string>
			<key>author</key>
			<string>Николай Рерих</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Когда ты слышишь мнение, которое тебе не по нраву, исследуй его и найди в нем правду.</string>
			<key>author</key>
			<string>Шри Ауробиндо</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Когда ты родился, ты плакал, а мир смеялся.
Живи так, чтобы, умирая, ты смеялся, а мир плакал.</string>
			<key>author</key>
			<string>Цитаты индейских вождей</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Люби землю.
Она не унаследована тобой у твоих родителей.
Она одолжена тобой у твоих детей.</string>
			<key>author</key>
			<string>Цитаты индейских вождей</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Люди были созданы для того, чтобы их любили, а вещи были созданы для того, чтобы ими пользовались; мир в хаосе потому, что все наоборот.</string>
			<key>author</key>
			<string>Далай Лама</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Чтобы влиться в толпу, вовсе не обязательно выходить на улицу — достаточно, сидя дома, развернуть газету или включить телевизор.</string>
			<key>author</key>
			<string>Уистен Хью Оден</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Нужно знать что потерял за день.
Тогда не забудешь то, чем овладел за месяц.
Только это можно назвать любовью к учебе.</string>
			<key>author</key>
			<string>Цзы Ся</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Энергии в одном кубическом метре пустого пространства достаточно, чтобы вскипятить все океаны мира.</string>
			<key>author</key>
			<string>Ричард Фейнман</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Не бросай то, что ты по-настоящему хочешь делать.
Когда есть любовь и вдохновение, ты вряд ли сделаешь что-то не то.</string>
			<key>author</key>
			<string>Элла Фицжеральд</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Если хочешь стать оптимистом и понять жизнь, то перестань верить тому, что говорят и пишут, а наблюдай и вникай.</string>
			<key>author</key>
			<string>Антон Чехов</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Если бы каждый человек захотел мира вместо второго телевизора, то во всём мире воцарился бы мир.</string>
			<key>author</key>
			<string>Джон Леннон</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Большинство людей слушают вас не с желанием понять, они слушают вас с желанием ответить.</string>
			<key>author</key>
			<string>Стивен Кови</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Я не боюсь смерти.
Я был мёртв уже миллиарды и миллиарды лет, прежде чем я родился, и не испытывал ни малейшего неудобства от этого.</string>
			<key>author</key>
			<string>Марк Твен</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Подумай, как трудно изменить себя самого и ты поймёшь, как ничтожны твои возможности изменить других.</string>
			<key>author</key>
			<string>Вольтер</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>То, что вам нужно, придёт к вам само, если вы не будете требовать того, что вам не нужно.</string>
			<key>author</key>
			<string>Нисаргадатта Махарадж</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Мир полон магических вещей, терпеливо ждущих, когда наши чувства станут острее.</string>
			<key>author</key>
			<string>Уильям Батлер Йейтс</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Счастлив не тот, кто имеет всё лучшее, а тот, кто извлекает всё лучшее из того, что имеет.</string>
			<key>author</key>
			<string>Брюс Ли</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Самый верный признак истины - это простота и ясность.
Ложь всегда бывает сложна, вычурна и многословна.</string>
			<key>author</key>
			<string>Л.Н. Толстой</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Аскетизм не в том , чтобы ничем не владеть.
Аскетизм в том, чтобы ничто не владело тобой.</string>
			<key>author</key>
			<string>Байазид Бистами</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Нет лучшего способа замаскировать ложь, чем завернуть её в эмоциональный поток правды.</string>
			<key>author</key>
			<string>Алан Брэдли</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Если вы измеряете свой успех мерой чужих похвал и порицаний, ваша тревога будет бесконечной.</string>
			<key>author</key>
			<string>Лао-Цзы</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Вся наша теория образования базируется на абсурдной идее, что мы должны сначала научиться плавать на суше, прежде чем войти в воду.</string>
			<key>author</key>
			<string>Генри Миллер</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Есть только два способа прожить свою жизнь.
Так, будто никаких чудес не бывает, и так, будто все на свете является чудом.</string>
			<key>author</key>
			<string>Альберт Эйнштейн</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Если хочешь построить корабль, то не собирай людей, чтобы они принесли лес, и не распределяй задания, а лучше пробуди в них тоску по бескрайней дали моря.</string>
			<key>author</key>
			<string>Антуан де Сент-Экзюпери</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
		<dict>
			<key>text</key>
			<string>С точки зрения вечности мы ничем на самом деле не владеем, а лишь берем во временное пользование.</string>
			<key>author</key>
			<string>Роберт Энтони</string>
			<key>title</key>
			<string>Цитаты</string>
		</dict>
	</array>
</dict>
</plist>
