<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>karim-abdul</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>илья старается скорее
уравновесить зло добром
увидел парни бьют мальчишку
красиво рядом станцевал</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Элла Фицжеральд</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Не бросай то, что ты по-настоящему хочешь делать. Когда есть любовь и вдохновение, ты вряд ли сделаешь что-то не то.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Star Per</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Сакуры белая ветвь
Тихо на землю легла.
Доволен я новой пилой.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Darth Rkoff</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>в народе есть одна примета
когда в сберкассе шум и гам
а вы с ружьём и в чёрной маске
к деньгам</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>О сколько нам открытий чудных
Готовят просвещенья дух
И опыт, сын ошибок трудных,
И гений, парадоксов друг,
И случай, бог изобретатель.</string>
		<key>title</key>
		<string>О сколько нам открытий чудных</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Роберт Энтони</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>С точки зрения вечности мы ничем на самом деле не владеем, а лишь берем во временное пользование.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>бес</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>бобры загрызли буратино
он весь в берёзовом соку
лежит в траве раскинув руки
и дятлы кружатся над ним</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ф. Тютчев</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Люблю грозу в начале мая,
Когда весенний, первый гром,
как бы резвяся и играя,
Грохочет в небе голубом.</string>
		<key>title</key>
		<string>Весенняя гроза</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Стивен Кови</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Большинство людей слушают вас не с желанием понять, они слушают вас с желанием ответить.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Зима! Крестьянин, торжествуя
На дровнях обновляет путь;
Его лошадка, снег почуя,
Плетется рысью как-нибудь;</string>
		<key>title</key>
		<string>Евгений Онегин</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Л.Н. Толстой</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Самый верный признак истины - это простота и ясность. Ложь всегда бывает сложна, вычурна и многословна.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>dubovik_sergey</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Бережно грабли кладу
Перед дверью соседа.
Ошибкам учиться хочу.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Цзы Ся</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Нужно знать что потерял за день. Тогда не забудешь то, чем овладел за месяц. Только это можно назвать любовью к учебе.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>better days</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>без ложной скромности замечу
я гениальный человек
а то что ничего не создал
так я был занят и болел</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>колик</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>да были виды в наше время
ты помнишь как в палеолит
креветы сдерживали натиск
улит</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>соловей</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>я моль я тише вашей смерти
я шарфов ужас шубы боль
царица шкафа бог комода
я моль</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>М.Ю. Лермонтов</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Белеет парус одинокой
В тумане моря голубом!..
Что ищет он в стране далекой?
Что кинул он в краю родном?..</string>
		<key>title</key>
		<string>Парус</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Дарья</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>мы думаем что птица в клетке
а птица думает что мы
неоднозначно восприятие
тюрьмы</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Дей</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>в моих ежатнях скаковые
ежи топочут и фырчат
хотят галопом по просторам
промчать</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Нестер Пим</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>мужчине в жизни надо сделать
три вещи мумию грача
перило с надписью перило
и брюса ли из желудей</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>i-mel</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>поэт не может быть счастливым
тогда он сразу не поэт
и он от этого несчастен
и снова он поэт тогда</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Вороныч</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>какое море дорогая
мы в отпуск едем по грибы
и наслаждаемся закатом
губы</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Буря мглою небо кроет,
Вихри снежные крутя;
То, как зверь, она завоет,
То заплачет, как дитя.</string>
		<key>title</key>
		<string>Зимний вечер</string>
	</dict>
	<dict>
		<key>author</key>
		<string>оксана</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>а это воздух настоящий
учитель баночку достал
и от восторга запотели
противогазы у ребят</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>luci</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>я мыслю значит существую
вдруг понял глеб и в тот же миг
себе поклялся бросить мыслить
и жить а не существовать</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>artyrar</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>когда я вышел из детсада
то был уже совсем другим
изнанка жизни отхлестала
меня по пухленьким щекам</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Марк Твен</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Я не боюсь смерти. Я был мёртв уже миллиарды и миллиарды лет, прежде чем я родился, и не испытывал ни малейшего неудобства от этого.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>колик</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>пусть карл и клара постарели
но пронеся сквозь годы страсть
все смотрят что бы друг у друга
украсть</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Уильям Батлер Йейтс</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Мир полон магических вещей, терпеливо ждущих, когда наши чувства станут острее.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Дени Дидро</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Чудеса там, где в них верят, и чем больше верят, тем чаще они случаются.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Николай Рерих</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Протяните руку над бездною. Нет страха над бездною, ибо духу страшнее комната и ковер.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>мЫколус</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>олег уволился с работы
душа полна различных чувств
как будто прямо с шеи камень
упал на палец на ноге</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ника Вернер</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>нет в шоколаде шоколада
давно нет мяса в колбасе
становится чуть чуть тревожно
а вдруг и в людях нет людей</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>DjFedos</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>мы будем жить таким манером
что смерть нам станет не нужна
поскольку мы её от жизни
никак не сможем отличить</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>garwuf</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>а где тут руль спросил гагарин
деревня буркнул королёв
еще спроси а где тут вожжи
еще поехали скажи</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>djFedos</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>мужик идёт с конем по полю
и конь внезапно говорит
не надо петь про это песню
пусть это будет наш секрет</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>crazy_grant &amp; zrbvjd</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>левшу в деревне не любили
зайдёт на чай и был таков
а по избе всю ночь удары
подков</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Встает заря во мгле холодной;
На нивах шум работ умолк;
С своей волчихою голодной
Выходит на дорогу волк;</string>
		<key>title</key>
		<string>Евгений Онегин</string>
	</dict>
	<dict>
		<key>author</key>
		<string>SSebastian</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>злой и уставший стоматолог
без слов и лишней суеты
сжигал нещадно за собою
мосты</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Кобаяси Исса</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>В зарослях сорной травы,
Смотрите, какие прекрасные
Бабочки родились!</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Znake</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>рот человеков в виде щели
причём достаточной длинны
чтоб есть могли горизонтально
блины</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>the axy</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>бог создал труд и обезьяну
чтоб получился человек
а вот пингвина он не трогал
тот сразу вышел хорошо</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>ironichna-osoba</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>две параллельные прямые
живут в эвклидовом мирке
и бегают пересекаться
в мир лобачевского тайком</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Мацуо Басё</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Жизнь свою обвил
Вкруг висячего моста
Этот дикий плющ.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А. С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Во глубине сибирских руд
Храните гордое терпенье,
Не пропадет ваш скорбный труд
И дум высокое стремленье.</string>
		<key>title</key>
		<string>Во глубине сибирских руд…</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Мел</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>в ночи повеяло прохладой
как будто в дом прокралось зло
а это просто одеяло
сползло</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А. С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>У лукоморья дуб зеленый;
Златая цепь на дубе том:
И днем и ночью кот ученый
Всё ходит по цепи кругом;</string>
		<key>title</key>
		<string>Руслан и Людмила</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Мацуо Басё</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Тебе нужно увидеть самому,
Стоящий на воде тростник,
Залитый лунным светом..</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Тумми</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>я пролетаю пару метров
едва не выронив бинокль
и гложет мысль полёт ли это
пинок ль</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Алан Брэдли</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Нет лучшего способа замаскировать ложь, чем завернуть её в эмоциональный поток правды.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>kvatanastini</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>надел олег один ботинок
глядит еще один стоит
когда же это прекратится
да где же этому конец</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Сико</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>О кленовые листья!
Крылья вы обжигаете
Пролетающим птицам.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Цитаты индейских вождей</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Когда ты родился, ты плакал, а мир смеялся. Живи так, чтобы, умирая, ты смеялся, а мир плакал.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Товарищ, верь: взойдет она,
Звезда пленительного счастья,
Россия вспрянет ото сна,
И на обломках самовластья
Напишут наши имена!</string>
		<key>title</key>
		<string>К Чаадаеву</string>
	</dict>
	<dict>
		<key>author</key>
		<string>sometimer</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>мне стало больно и противно
о чём я сразу заявил
но мне сказали это пытка
и надо просто потерпеть</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Бусон</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Прохладный ветерок.
Колокол покинув,
Плывёт вечерний звон.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>al cogol</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>я иностранец из нью йорка
и вот что я хочу спросить
вот эта надпись на заборе
как переводится она</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Уистен Хью Оден</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Чтобы влиться в толпу, вовсе не обязательно выходить на улицу - достаточно, сидя дома, развернуть газету или включить телевизор.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ф. Тютчев</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Зима недаром злится,
Прошла её пора -
Весна в окно стучится
И гонит со двора.</string>
		<key>title</key>
		<string>Зима недаром злится</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Бусон</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>С запада ветер летит,
Кружит, гонит к востоку
Ворох опавшей листвы.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>better days</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>страшней всего когда не знаешь
что для тебя страшней всего
садишься на диван и мысли
а вдруг страшней всего диван</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Филушка</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Заснул на рельсах я.
Что нынче уготовит
Судьба злодейка?</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Далай Лама</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Люди были созданы для того, чтобы их любили, а вещи были созданы для того, чтобы ими пользовались; мир в хаосе потому, что все наоборот.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Мацуо Басё</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Сначала покинул траву...
Потом деревья покинул...
Жаворонка полёт.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>nik-aragua</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>висит на сцене в первом акте
бензопила ведро и ёж
заинтригован станиславский
боится выйти в туалет</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Алексай</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>и на зубах у дартяньяна
весь день отчаянно и зло
скрипит потёртое барашка
седло</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Тайша</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Шаг мой один -
Что ведает он о Целом Пути?
Что ведаю я?</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>i-mel</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>вчера был казус сам с собою
я как обычно говорил
и вдруг с собой не согласился
вспылил и даже накричал</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Лао-Цзы</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Если вы измеряете свой успех мерой чужих похвал и порицаний, ваша тревога будет бесконечной.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А. Фет</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Я пришел к тебе с приветом,
Рассказать, что солнце встало,
Что оно горячим светом
По листам затрепетало;</string>
		<key>title</key>
		<string>Я пришел к тебе с приветом</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Кобаяси Исса</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>О, с какой тоской
Птица из клетки глядит
На полёт мотылька!</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>MastaLomasta</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>в чертогах разума блуждая
нашел сто битых секторов
а в психдиспансере сказали
здоров</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Антон Чехов</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Если хочешь стать оптимистом и понять жизнь, то перестань верить тому, что говорят и пишут, а наблюдай и вникай.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Нестер Пим</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>мы так сильны что становиться
сильнее некуда уже
и всё что нас не убивает
не убивает нас и всё</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Кобаяси Исса</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Чужих меж нами нет!
Мы все друг другу братья
Под вишнями в цвету.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Нисаргадатта Махарадж</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>То, что вам нужно, придёт к вам само, если вы не будете требовать того, что вам не нужно.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Джон Леннон</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Если бы каждый человек захотел мира вместо второго телевизора, то во всём мире воцарился бы мир.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Л.М.</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>иван открыл закон ивана
он как закон ньютона но
все измеряется в иванах
и вместо яблока утюг</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Кобаяси Исса</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Так кричит фазан,
Будто это он открыл
Первую звезду.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>vera</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>как можно жить совсем без хлеба
и с непомытою плитой
спросил андрей и сразу умер
по крайней мере для меня</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Брюс Ли</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Счастлив не тот, кто имеет всё лучшее, а тот, кто извлекает всё лучшее из того, что имеет.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>urri</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>спросил кукушку сколько жить мне
она вдруг смолкла и глядит
на что то за моей спиною
с животным ужасом в глазах</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Тиё</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>О светлая луна!
Я шла и шла к тебе,
А ты всё далеко.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>bucho</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>ребята лезут оживлённо
в большую круглую трубу
а николай стоит квадратный
и слезы льются по щекам</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Генри Миллер</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Вся наша теория образования базируется на абсурдной идее, что мы должны сначала научиться плавать на суше, прежде чем войти в воду.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Кошкин</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>олег бежит за ним собаки
но он бежит не от собак
его судьба лихая гонит
собаки только антураж</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Такахама Кёси</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Вот и ты познаёшь
Печаль,что извечно сокрыта
В осени уходящей</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>оман</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>вот мастер нарисует дыню
и ты узнаешь в ней себя
а на твоем рисунке даже
и дыню толком не узнать</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Вольтер</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Подумай, как трудно изменить себя самого и ты поймёшь, как ничтожны твои возможности изменить других.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ф. Тютчев</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Умом Россию не понять,
Аршином общим не измерить:
У ней особенная стать -
В Россию можно только верить.</string>
		<key>title</key>
		<string>Умом Россию не понять</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Сайге</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Куда унеслось ты, сердце мое?
Погоди!
Горные вишни осыплются,
Ты опять вернешься в свое жилище.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Гонимы вешними лучами,
С окрестных гор уже снега
Сбежали мутными ручьями
На потопленные луга.</string>
		<key>title</key>
		<string>Евгений Онегин</string>
	</dict>
	<dict>
		<key>author</key>
		<string>zh</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>предвидя твой вопрос отвечу
я бедный от того что злой
трусливый слабый невезучий
но умный тут уж извини</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Байазид Бистами</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Аскетизм не в том, чтобы ничем не владеть. Аскетизм в том, чтобы ничто не владело тобой.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Еса Бусон</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Грузный колокол
А на самом его краю
Дремлет бабочка</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Тихомиров</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>я свой характер закаляю
преодолением преград
упорно циркулем рисуя
квадрат</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>В тот год осенняя погода
Стояла долго на дворе,
Зимы ждала, ждала природа.
Снег выпал только в январе.</string>
		<key>title</key>
		<string>Евгений Онегин</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А. С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Я помню чудное мгновенье:
Передо мной явилась ты,
Как мимолетное виденье,
Как гений чистой красоты.</string>
		<key>title</key>
		<string>К *** Керн</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Мацуо Басё</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Крылья бабочек!
Разбудите поляну
Для встречи солнца.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Умная Маша</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>бог мой о времена о нравы
что мы здесь делаем вообще
вели беседу две креветки
в борще</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Альберт Эйнштейн</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Есть только два способа прожить свою жизнь. Так, будто никаких чудес не бывает, и так, будто все на свете является чудом.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Антуан де Сент-Экзюпери</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Если хочешь построить корабль, то не собирай людей, чтобы они принесли лес, и не распределяй задания, а лучше пробуди в них тоску по бескрайней дали моря.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Сайге</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Когда б ещё нашелся человек
Кому уединение не в тягость
Кто любит тишину!</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Пока свободою горим,
Пока сердца для чести живы,
Мой друг, отчизне посвятим
Души прекрасные порывы!</string>
		<key>title</key>
		<string>К Чаадаеву</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Спой мне песню, как синица
Тихо за морем жила;
Спой мне песню, как девица
За водой поутру шла.</string>
		<key>title</key>
		<string>Зимний вечер</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А. С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Я к вам пишу - чего же боле?
Что я могу еще сказать?
Теперь, я знаю, в вашей воле
Меня презреньем наказать.</string>
		<key>title</key>
		<string>Евгений Онегин</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Кобаяси Исса</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Тихо-тихо ползи,
Улитка, по склону Фудзи
Вверх, до самых высот!</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Шри Ауробиндо</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Когда ты слышишь мнение, которое тебе не по нраву, исследуй его и найди в нем правду.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Gena_</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>бессмертный рыцарь улыбнулся
разбил грааль и был таков
у всех бывает кризис средних
веков</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Цитаты индейских вождей</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Люби землю. Она не унаследована тобой у твоих родителей. Она одолжена тобой у твоих детей.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Мацуо Басё</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Старый пруд
Прыгнула в воду лягушка
Всплеск в тишине</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Опрятней модного паркета,
Блистает речка, льдом одета.
Мальчишек радостный народ
Коньками звучно режет лёд;</string>
		<key>title</key>
		<string>Евгений Онегин</string>
	</dict>
	<dict>
		<key>author</key>
		<string>А.С. Пушкин</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Выпьем, добрая подружка
Бедной юности моей,
Выпьем с горя; где же кружка?
Сердцу будет веселей.</string>
		<key>title</key>
		<string>Зимний вечер</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ричард Фейнман</string>
		<key>category</key>
		<string>categoryQuotes</string>
		<key>text</key>
		<string>Энергии в одном кубическом метре пустого пространства достаточно, чтобы вскипятить все океаны мира.</string>
		<key>title</key>
		<string>Цитаты</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Кобаяси Исса</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Наша жизнь - росинка
Пусть лишь капелька росы
Наша жизнь - и всё же…</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>zh</string>
		<key>category</key>
		<string>categoryCookies</string>
		<key>text</key>
		<string>улыбка все преображает
вот николай хоть и в гробу
а улыбается и ясно
что все у парня хорошо</string>
		<key>title</key>
		<string>Пирожки</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ф. Тютчев</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Зима недаром злится,
Прошла её пора -
Весна в окно стучится
И гонит со двора.</string>
		<key>title</key>
		<string>Зима недаром злится</string>
	</dict>
	<dict>
		<key>author</key>
		<string>М.Ю. Лермонтов</string>
		<key>category</key>
		<string>categoryClassic</string>
		<key>text</key>
		<string>Ночевала тучка золотая
На груди утеса-великана;
Утром в путь она умчалась рано,
По лазури весело играя.</string>
		<key>title</key>
		<string>Утёс</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Мацуо Басё</string>
		<key>category</key>
		<string>categoryHokku</string>
		<key>text</key>
		<string>Верь в лучшие дни!
Деревцо сливы верит:
Весной зацветет.</string>
		<key>title</key>
		<string>Хокку</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Bob Marley</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>Emancipate yourselves from mental slavery
None but ourselves can free our minds
Have no fear for atomic energy
Cause none of them can stop the time</string>
		<key>title</key>
		<string>Redemption Song</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Sonny Rhodes</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>Take my love, take my land
Take me where I cannot stand
I don&apos;t care, I&apos;m still free
You can&apos;t take the sky from me</string>
		<key>title</key>
		<string>Ballad of Serenity</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ralph Waldo Emerson</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>We do not inherit the earth from our ancestors, we borrow it from our children</string>
		<key>title</key>
		<string>Indian poverb</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Unknown author</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>You&apos;re a ghost driving a meat coated skeleton made from stardust. What do you have to be afraid of?</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Mark Twain</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>I do not fear death. I had been dead for billions of years before I was born, and had not suffered the slightest inconvenience from it.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>John Lennon</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>If everyone demanded peace instead of another television set, then there&apos;d be peace.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Sri Nisargadatta Maharaj</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>You will receive everything you need when you stop asking for what you do not need</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Albert Einstein</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Albert Einstein</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>Two things are infinite: the universe and human stupidity; and I&apos;m not sure about the universe.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Bernard M. Baruch</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>Be who you are and say what you feel, because those who mind don&apos;t matter, and those who matter don&apos;t mind.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Mahatma Gandhi</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>Live as if you were to die tomorrow. Learn as if you were to live forever.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Martin Luther King Jr.</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>Darkness cannot drive out darkness: only light can do that. Hate cannot drive out hate: only love can do that.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ralph Waldo Emerson</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rob Siltanen</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>People who are crazy enough to think they can change the world, are the ones who do.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>H. Jackson Brown Jr.</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>Twenty years from now you will be more disappointed by the things that you didn&apos;t do than by the ones you did do.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>J.R.R. Tolkien</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>All that is gold does not glitter,
Not all those who wander are lost;
The old that is strong does not wither,
Deep roots are not reached by the frost.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>J.R.R. Tolkien</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>From the ashes a fire shall be woken,
A light from the shadows shall spring;
Renewed shall be blade that was broken,
The crownless again shall be king.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Neil Gaiman</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>Fairy tales are more than true: not because they tell us that dragons exist, but because they tell us that dragons can be beaten.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Bill Keane</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>Yesterday is history, tomorrow is a mystery, today is a gift of God, which is why we call it the present.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Thomas A. Edison</string>
		<key>category</key>
		<string>categoryQuotesEn</string>
		<key>text</key>
		<string>I have not failed. I&apos;ve just found 10000 ways that won&apos;t work.</string>
		<key>title</key>
		<string>Quotes</string>
	</dict>
</array>
</plist>
